input#location_search.form-control.pac-target-input{
  height: calc(3.75rem + 2px);

}

section#login.bg-light.py-5{
  background: url(../img/login_wall.png) no-repeat top center fixed ;
  position: relative;
  min-height: 875px;
  
}

section#register.bg-light.py-5{
  background: url(../img/login_wall.png) no-repeat top center fixed ;
  position: relative;
  min-height: 875px;
  
}


.google-btn {
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-top: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

 
  .btn-text {
    float:  right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    padding-right: 35%;
    font-weight: 600;
  }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #1669F2;
  }
  @media (max-width: 1199px){
    .btn-text {
      float:  right;
      margin: 11px 11px 0 0;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.2px;
      padding-right: 3%;
      font-family: "Roboto";
      font-weight: 600;
    }
  }


.btn-secondary {
  color: #fff !important; }

.fotorama{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }


img {
  width: 100%; }

.logo {
  width: 60px;
  height: 60px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }
  
#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed ;
  position: relative;
  min-height: 875px;
  color: rgb(255, 255, 255);
  padding-top: 6rem; }

@media (max-width: 576px) {
    #showcase {
  background: url(../img/showcase_mob.jpg) no-repeat top center fixed ;
  position: relative;
  min-height: 630px;
  color: rgb(255, 255, 255);
  padding-top: 6rem; } }


  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    width: 100%;
    background: rgba(51, 51, 51, 0.15);
    margin-top: 50px; }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }




