{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h3 class="display-4 mb-4">
            Home is a feeling not a place
          </h3>
          <p class="lead"> </p>&nbsp;
          
          <div class="search">
            <form action="{% url 'salesearch' %}" id="location-form">
              
            <!-- Form Row -->
            <div class="form-row">
               <div class="col-md-12 mb-6">
              <label class="sr-only">Location</label>
              <input type="text" name="location" id="location_search" class="form-control" placeholder=  "🏡 Enter address, neighborhood, city, or ZIP code.." value ={{values.location}}>
              </div>
              <script>
                function activatePlacesSearch(){
                var input = document.getElementById('location_search');
                var autocomplete = new google.maps.places.Autocomplete(input);
                }
                </script>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTvH62eDRDBLJQSMFReQsIpHXkY29QFcg&libraries=places&callback=activatePlacesSearch"></script>
            </div>
            <div class="form-row">
              <div class ="col-md-6 mb-3"><button class="btn btn-secondary btn-block mt-4" type="submit" formaction="{% url 'salesearch' %}">FOR SALE</button>
              </div>
              <div class ="col-md-6 mb-3"><button class="btn btn-secondary btn-block mt-4" type="submit" formaction="{% url 'rentsearch' %}">TO RENT</button>
              </div>
            </div>
          </form>

          

        </div>
      </div>
    </div>
  </div>
</section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h2 class="text-center mb-3">Featured Listings</h2>
      <div class="row">
        {% if listings_all %}
          {% for listing in listings_all %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-body">
                  <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <div class="listing-heading">
                      <b><a href= "{% url 'listing' listing.id %}" class="text-primary">{{ listing.title }} </a></b>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.region }}, {{ listing.zipcode }}</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-img-overlay">
                      {%if listing.is_to_rent is True %}
                      <h3>
                        <span class="badge badge-secondary text-white">{{ listing.price | intcomma }}€ pcm</span>
                      </h3>
                      {%else%}
                      <h2>
                        <span class="badge badge-secondary text-white">{{ listing.price | intcomma }}€</span>
                      </h2>
                      {%endif%}
                    </div>
                  </div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Sq meters: {{ listing.sqft }}</div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <div class="row text-secondary pb-2">
                    <div class="col">
                      <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                  </div>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3>Consulting Services</h3>
          <p></p>
          
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3>Propery Management</h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3>Renting & Selling</h3>
          <p></p>
        </div>


        


      </div>
    </div>
  </section>
{% endblock %}