{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ rentlisting.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ rentlisting.title }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ rentlisting.city }} {{ rentlisting.region }}, {{ rentlisting.zipcode }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'rent' %}">Listings</a>
          </li>
          <li class="breadcrumb-item active">{{ rentlisting.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'rent' %}" class="btn btn-light mb-4">Back Listings</a>
      <div class="row">
        <div class="col-md-9">          
          <!-- Home Main Image -->
          <div class="row mb-5 thumbs">
            <div class="fotorama" data-nav="thumbs">
              {%if rentlisting.photo_main %}
              <img src="{{rentlisting.photo_main.url}}">
              {%endif%}
              {%if rentlisting.photo_1%}
              <img src="{{rentlisting.photo_1.url}}">
              {%endif%}
              {%if rentlisting.photo_2 %}
              <img src="{{rentlisting.photo_2.url}}">
              {%endif%}
              {%if rentlisting.photo_3%}
              <img src="{{rentlisting.photo_3.url}}">
              {%endif%}
              {%if rentlisting.photo_4 %}
              <img src="{{rentlisting.photo_4.url}}">
              {%endif%}
              {%if rentlisting.photo_5 %}
              <img src="{{rentlisting.photo_5.url}}">
              {%endif%}
              {%if rentlisting.photo_6 %}
              <img src="{{rentlisting.photo_6.url}}">
              {%endif%}
            </div>
          </div>
          
           <!--Map-->
           <div class="row mb-5">
            <div class="col-md-12">
              <button class="collapsible">Location on the Map</button>
              <div class="content">
                <!--CSS-->
                <style>
                  .collapsible:after {
                    content: '\002B'; /* Unicode character for "plus" sign (+) */
                    color: #ffff;
                    font-weight: bold;
                    float: right;
                    margin-left: 5px;
                  }
                  
              .collapsible.active:after {
                    content: "\2212"; /* Unicode character for "minus" sign (-) */
                    
                  }
                  
              .collapsible {
                      background-color: rgba(32, 134, 107, 0.8);
                      color: white;
                      cursor: pointer;
                      padding: 12px;
                      width: 100%;
                      border: none;
                      text-align: left;
                      outline: none;
                      font-size: 16px;
                      border-radius: 0.3rem;
                    
                    }
              .collapsible:hover {
                      background-color: rgb(18, 97, 76);
                      
                    }
                    
              .content {
                      max-height: 0;
                      padding: px 18px;
                      overflow: hidden;
                      transition: max-height 0.2s ease-out;
                      background-color: #ffff;
                    }
                  
              #map{
                      height: 250px;
                      width:100%;
                    }
                </style>
              <div id="map"></div>
              <script>

                let lat = "{{rentlisting.lat}}";
                let lng = "{{rentlisting.lng}}";
                let geo_lat = parseFloat(lat);
                let geo_lng = parseFloat(lng);

                function initMap(){
                  // Map options
                  var myLatLng = {lat:geo_lat, lng:geo_lng};
                  var options = {
                    zoom:11,
                    center:myLatLng
                  };

                  var head = document.getElementsByTagName('head')[0];

                  // Save the original method
                  var insertBefore = head.insertBefore;
                  
                  // Replace it!
                  head.insertBefore = function (newElement, referenceElement) {
                  
                      if (newElement.href && newElement.href.indexOf('//fonts.googleapis.com/css?family=Roboto') > -1) {
                  
                          console.info('Prevented Roboto from loading!');
                          return;
                      }
                  
                      insertBefore.call(head, newElement, referenceElement);
                  };

                  // New Map
                  var map = new
                  google.maps.Map(document.getElementById('map'),options);

                  // Add Marker
                  var marker = new google.maps.Marker({
                    position:{lat:geo_lat,lng:geo_lng},
                    map:map,
                    animation: google.maps.Animation.DROP,
                    
                  });
                  

                }
              </script>
            </div>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTvH62eDRDBLJQSMFReQsIpHXkY29QFcg&callback=initMap">
              </script>

              <!--Javascript for the expandable box-->
              <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight){
                      content.style.maxHeight = null;
                    } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                    } 
                  });
                }
                </script>
               
            </div>
          </div>

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Asking Price:
                  <span class="float-right">${{ rentlisting.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Bedrooms:
                  <span class="float-right">{{ rentlisting.bedrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Bathrooms:
                  <span class="float-right">{{ rentlisting.bathrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-car"></i> Garage:
                  <span class="float-right">{{ rentlisting.garage }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Sq meters:
                  <span class="float-right">{{ rentlisting.sqft }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> Lot Size:
                  <span class="float-right">{{ rentlisting.lot_size }} Acres
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Listing Date:
                  <span class="float-right">{{ rentlisting.list_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Realtor:
                  <span class="float-right">{{ rentlisting.realtor }}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
                {{ rentlisting.description }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ rentlisting.realtor.photo.url }}" alt="">
            <div class="card-body">
              <h5 class="card-title">Property Realtor</h5>
              <h6 class="text-secondary">{{ rentlisting.realtor }}</h6>
            </div>
          </div>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'rent_contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <!--Hidden for email template-->
            <input type="hidden" name="realtor_email" value="{{ rentlisting.realtor.email }}">
            <input type="hidden" name="listing_id" value="{{ rentlisting.id }}">
            <input type="hidden" name="realtor_name" value = "{{ rentlisting.realtor.name }}">
            
            
            <div class="form-group">
              <label for="property_name" class="col-form-label">Property:</label>
              <input type="text" name="listing" class="form-control" value="{{ rentlisting.title }}">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}